@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme inline {
  --color-bg: var(--bg);
  --color-surface: var(--surface);
  --color-text: var(--text);
  --color-accent: #9184d9;
  --color-accent-2: #a7a1db;
  --color-divider: var(--divider);
  --color-btn: color-mix(in srgb, var(--color-text) 7%, var(--color-surface) 93%);
  --color-gradient: linear-gradient(to right, var(--divider), transparent);

  --color-neutral-100: #f3f5fe;
  --color-neutral-200: #e4e7f5;
  --color-neutral-300: #cfd3e5;
  --color-neutral-400: #b2b6ca;
  --color-neutral-500: #9397ab;
  --color-neutral-600: #75798c;
  --color-neutral-700: #595d6c;
  --color-neutral-800: #3f424d;
  --color-neutral-900: #292b31;

  --color-accent-100: #f5f4ff;
  --color-accent-200: #e7e5fe;
  --color-accent-300: #d2cefd;
  --color-accent-400: #b5abfc;
  --color-accent-500: #968ae0;
  --color-accent-600: #796cbf;
  --color-accent-700: #5d5294;
  --color-accent-800: #423a6a;
  --color-accent-900: #2b2741;

  --font-heading: "Inter", system-ui, sans-serif;
  --font-headingg-weight: 500;
  --font-body: "Inter", system-ui, sans-serif;

  --space-1: 2.8px;
  --space-2: 5.6px;
  --space-3: 8.4px;
  --space-4: 11.2px;
  --space-6: 16.8px;
  --space-8: 22.4px;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 14px;

  --text-shadow-sm: 0 0 0 1px #3f424d;
  --text-shadow-md: 0 0 0 1px #595d6c,
    0 6px 18px rgba(0, 0, 0, .55);
  --text-shadow-lg: 0 0 0 1px #9397ab,
    0 16px 40px rgba(0, 0, 0, .65);
}

:root {
  --bg: #161826;
  --surface: #232532;
  --text: #e9e9ed;
  --divider: color-mix(in srgb, #e9e9ed 16%, transparent);
}

@media (prefers-color-scheme: light) {
  :root:not(.dark) {
    --bg: #f3f5fe;
    --surface: #ffffff;
    --text: #21232c;
    --divider: color-mix(in srgb, #21232c 14%, transparent)
  }
}

:root.light {
  --bg: #f3f5fe;
  --surface: #ffffff;
  --text: #21232c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 15px;
  line-height: 1.55;
  font-weight: 400;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: var(--font-heading-weight);
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 13px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

a {
  text-underline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
}

body::selection {
  background: rgba(145, 132, 217, 0.6);
  color: var(--color-text);
}